:root {
  --maindark: #242325;
  --maingreen: #61e768;
  --mainwhite: #fff;
  --maingrey: #ccc;
}

body {
  font-family: "Raleway", sans-serif;
  height: 3000px;
}

.navbar {
  max-width: 1350px;
  margin: 0 auto;
  background: var(--maindark);
  height: 14vh;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  line-height: 70px;
}
.nav-link {
  font-size: 18px;
}

.nav-item:not(:first-child) .nav-link {
  color: var(--maingrey) !important;
}
.nav-item.active .nav-link {
  color: #fff !important;
}

.nav-item:not(:first-child) .nav-link:hover {
  color: #fff !important;
}
.phone-number a {
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.phone_icon {
  color: green;
  font-size: 1.3rem;
  border: 1px solid green;
  border-radius: 50%;
  padding: 6px;
  margin-right: 3px;
}
.main_header_info{
  min-height: calc(100vh - 14vh);
}

.main_header {
  max-width: 1350px;
  margin: 0 auto;

}
.main_header_title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main_header_pic {
  background: url(../images/pexels-expect-best-323780.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rent_price {
  left: 0;
  bottom: 0;
}
